<!--
  label: iGoMoon Coding Task
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
-->

<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>

<head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    {# Favicon #}

    {% if site_settings.favicon_src %}

    {{ require_css(get_asset_url("../../css/layout.css")) }}
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {{ require_css("https://fonts.googleapis.com/css?family=Merriweather:400,700|Lato:400,700&display=swap") }}
    {{ require_js(get_asset_url("../../js/main.js")) }}
    {{ require_css(get_asset_url(template_css)) }}

    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}

    <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    {# Includes #}
    {{ standard_header_includes }}
    {# Styles #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_asset_url('./assets/css/main.css') }}">
    <script src="https://kit.fontawesome.com/2d4b9471e2.js" crossorigin="anonymous"></script>

</head>

{% set body_class = [builtin_body_classes] %}

<body class="nathalie-nordstrom">
    <main class="main-content">

        <div class="navbar>">
            <!--This is a navbar module with the iGoMoon logo -->
            {% module "navbar",
            path="./modules/navbar",
            label="navbar"
        %}
        </div>
        <!--This is a drag and drop area -->
        {% dnd_area "header-dnd-area" %}{% end_dnd_area %}


        {% block header %}
        {% global_partial path='./templates/partials/header.html' %}
        {% endblock header %}

        <div class="module-one">
            <!-- This is the form module-->
            {% module "module_form_optin_20201119",
            path="./modules/form-optin",
            label="Form Optin"
        %}
        </div>
        <div class="module-two">
            <!-- This is the content module with text and business values-->
            {% module "module",
            path="./modules/Module",
            label="module"
        %}
        </div>
        {% dnd_area "footer-dnd-area" %}{% end_dnd_area %}
    </main>


    {# Includes #}
    {{ standard_footer_includes }}
    {{ require_js(get_asset_url('../../js/main.js')) }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    {# Scripts #}
    <script src="{{ get_asset_url('./assets/js/main.js') }}"></script>
</body>

</html>