body {
    background-color: white;
    transition: 0.5 ease;
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.nav-container {
    width: 100%;
}

.module-one {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-two {
    margin-top: 30px;
    padding: 20px;
}

h2 {
    color: #2e4152;
}

form {
    height: 0;
}

.field-email,
.field-name,
.field-finish {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5 ease;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.field-email i,
.field-name i,
.field-finish i {
    padding: 10px;
    cursor: pointer;
}

.field-email input,
.field-name input,
.field-finish input {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}

.fa-heart {
    color: #2e4152;
}

p {
    padding-top: 20px;
}

div.inactive {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%)
}

div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%)
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    10% {
        transform: translate(-50%, -50%) rotate(2deg);
    }

    20% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(2deg);
    }

    40% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(2deg);
    }

    60% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    70% {
        transform: translate(-50%, -50%) rotate(2deg);
    }

    80% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    90% {
        transform: translate(-50%, -50%) rotate(2deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@media (min-width: 340px) and (max-width:700px) {

    .field-email,
    .field-name,
    .field-finish {
        top: 8%;
        width: 300px;
    }
}

@media (min-width: 701px) and (max-width:1024px) {

    .field-email,
    .field-name,
    .field-finish {
        top: 15%;
    }
}